[class*="col-"] {
    padding: 1rem;
}

body {
    overflow-x: hidden;
    font-family: seaFutura;
}

.sticky-top {
    padding-bottom: 0px;
}

.card-img-top {
    filter:grayscale(100%);
}

.card:hover .card-img-top{
    filter: grayscale(0%) !important;
    transition: 2.5s ease;
}

.navbar {
    height: 85px;
    background-color: black;
}

#logo {
    transition-timing-function: ease-out;
}

.navbar:hover {
// background-color: white !important;
    transition: background-color 1s;
//background-image: url("mih.jpg");

}
.navbar-brand {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
}

.navbar-brand img{
    display: block;
    margin: auto;
}

/* - this changes the colour of the navbar when hovered
.navbar-brand:hover {
  background-color: black;
  transition: background-color 2s;
}*/

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-indicators .active {
    background-color: black;
}
.img-fluid {
    padding: 10px;
}

.watches {
    margin: auto;
}

.watch:hover {
    transform: translateY(-10px) translateX(10px);
  //  opacity: 0.5;
    cursor: pointer;
    transition: 1s;
 // box-shadow: -10px 10px red;
 //    border-radius: 10px 5px;

}

.watch {
    filter: grayscale(100%);
}

.watch:hover {
    filter:grayscale(0%) !important;
    //transition: 1.5s ease;
}
.navbar-collapse {
    margin-top: 10px;
    margin-bottom: 3rem;
}

.navbar-brand {
    left: 0;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}
.lead {
    font-size: 200%;
}
.padding {
    padding-bottom: 2rem;
}

.paddingKnowledge {
    padding-bottom: 10px;
    font-size: x-large;
}

.welcome {
    width: 75%;
    margin: 0 auto;
}

.social a {
    font-size: 4em;
    padding: 1em;
}

.fa-facebook {
    color: black;
}

.fa-instagram {
    color: black;
}

.fa-instagram:hover, .fa-facebook:hover {

    color: #d5d5d5;
}

footer {
    background-color: black;
    color: white;
    padding-top: 2rem;
}
hr.light {
    border-top: 1px solid white;
    width: 75%;
}
hr.light-100 {
    border-top: 1px solid white;
    width: 100%;
}

/*--- Font --*/
@font-face {
    font-family: seaFutura;
    src: url("Futura Condensed Medium.otf");
}

/*---Media Queries --*/

/*Small (sm) devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .carousel-caption {
        position: absolute;
        top: 40%;
    }

    .carousel-caption h1 {
        font-size: 250%;

    }
    .carousel-caption h3{
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
    .carousel-indicators {
        display: none;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    .text-center {
        font-size: 23px;
    }
   /* logo not centered on mobile devices*/
   .navbar-brand {
            left: 0;
    }

}

/*Medium (md) devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 300%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}

/*Large (lg) devices (desktops, 992px and up)*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}

/*Extra (xl) large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
}









